@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.187);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
}
/*-------------------Navigation bar---------------*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  z-index: 999;
}

.navbar-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-left a,
.collection {
  margin-right: 20px;
  text-decoration: none;
  color: #292929;
}
.logo {
  font-size: 1.1rem;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: left;
}
.navbar-left .dropdown {
  position: relative;
}
.navbar-left .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8; /* Light gray background for the dropdown menu */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow */
  z-index: 999;
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
  opacity: 0;
  visibility: hidden;
}
.navbar-left .dropdown-content a {
  display: block;
  text-align: center;
  padding: 12px 20px; /* Increase padding for better touch and hover area */
  text-decoration: none;
  color: #5f5f5f;
  border-bottom: 1px solid #e0e0e0; /* Subtle border between items */
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
  width: 120px;
}
.navbar-left .dropdown-content a:last-child {
  border-bottom: none; /* No border for the last item */
}
.navbar-left .dropdown-content a:hover {
  color: #000000;
}
.navbar-left .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar-left .collection {
  display: flex;
  align-items: center;
  background-color: none;
  color: black; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease-in-out;
  width: 122px;
  font-size: 1rem;
}
.navbar-left a:hover {
  color: #000000;
  font-weight: 600;
}
.mobile-search-bar,
.search-bar {
  margin: 0 20px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.mobile-search-bar span,
.search-bar span {
  color: black;
}

.mobile-search-bar input,
.search-bar input {
  font-size: 1rem;
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.mobile-search-bar input:focus,
.search-bar input:focus {
  outline: none;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
.navbar-right a {
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
  color: #333;
}

.navbar-right .dropdown {
  position: relative;
  width: 35%;
}
.navbar-right .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8; /* Light gray background for the dropdown menu */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow */
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
}

.cart-icon {
  position: relative;
  display: block;
}

.cart-counter {
  font-size: 0.8rem;
  position: absolute;
  top: -13px;
  right: -3px;
  border: 1px solid black;
  background-color: #000000;
  color: white;
  font-weight: 400;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right span {
  font-weight: 500;
}
.navbar-right span:hover {
  font-weight: 600;
}
.nav-menu {
  width: 220px;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: -220px;
  padding: 16px;
  background-color: rgb(248, 248, 248);
  transition: left 300ms ease-in-out;
  z-index: 999;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

.collect {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10%;
}

.nav-menu a:hover {
  font-weight: 450;
  text-decoration: underline;
}
.material-symbols-outlined.hamburger-icon {
  display: none;
}

/* Navbar Active */

.navbar.active .nav-menu {
  left: 0;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar-left,
  .profile-icon,
  .search-bar {
    display: none;
  }

  .material-symbols-outlined.hamburger-icon {
    display: initial;
  }
  .navbar-right {
    width: 10%;
  }
}
/*----------------------Footer----------------------*/
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1%;
  padding-top: 2%;
  border-top: 1px solid;
  z-index: 1;
  position: relative;
  background-color: white;
}
.footer-left,
.footer-mid,
.footer-right {
  width: 19%;
}
.footer-container .footer-left a {
  color: #000000;
  text-decoration: none;
  margin-right: 9%;
  font-size: 1rem;
  font-weight: 500;
}
.footer-container .footer-right {
  display: flex;
}
.footer-container .footer-right p {
  margin-right: 7%;
  display: inline;
}
.footer-container .footer-right .footer-icons {
  display: flex;
  gap: 10px;
}
.footer-container .footer-right a {
  color: #000000;
  text-decoration: none;
  margin-right: 3%;
}
.footer-container .footer-mid {
  text-align: center;
}
.footer-container .footer-mid .footer-logo {
  margin-bottom: 4%;
}
.footer-container .footer-mid p {
  color: #000000;
}
.footer-container a:hover {
  font-weight: 600;
}
.footer-mid-info,
.footer-right {
  color: black;
}
@media screen and (max-width: 768px) {
  .footer-container .footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-container .footer-right {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
