/*--------------------------ShoppingCart----------------------------*/
.shopping-cart-container {
  margin: auto;
  width: min(70%, 780px);
}
.shopping-cart-boxes {
  display: flex;
}
.shopping-cart-container .left-side {
  width: 70%;
  padding-right: 20px;
  height: 100%;
}
.shopping-cart-container .right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.shopping-cart-container .shopping-cart {
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.shopping-cart-container .shopping-title {
  font-size: 2rem;
  margin-top: 4%;
  margin-bottom: 2%;
}
.shopping-cart-container .shopping-title span,
.shopping-cart-container .right-side span {
  margin-right: 20px;
  font-size: 2.3rem;
  font-weight: 500;
}
.shopping-cart-container .shopping-cart table {
  width: 100%;
  border-spacing: 0px;
}
.shopping-cart-container .shopping-cart table th {
  font-size: 1.32rem;
  text-align: left;
  border-bottom: 1px solid #000000;
  padding-bottom: 2%;
}
.shopping-cart-container .shopping-cart table td {
  text-align: left;
  padding: 13px 0;
  border-bottom: 1px solid #ccc;
}
.shopping-cart-container .summary {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 0px;
  margin-bottom: 3.4%;
  padding: 15px;
}
.shopping-cart-container .right-side h2 {
  text-align: left;
  margin-bottom: 5%;
}
.shopping-cart-container .summary p {
  padding-bottom: 20%;
}
.shopping-cart-container .summary p:last-child {
  border-bottom: none;
}
.shopping-cart-container .summary .total {
  border-top: 1px solid black;
  padding-top: 10%;
  font-weight: bold;
  font-size: 1.3rem;
}
.shopping-cart-container .summary .price {
  padding-top: 13%;
}
.shopping-cart-container .delivery-date {
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart-container .shopping-cart-boxes {
  height: 300px;
}
.shopping-cart-container .bottom-links {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-cart-container .bottom-links a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.shopping-cart-container .bottom-links a:hover {
  color: grey;
  cursor: pointer;
}

/* Responsive styles for mobile view */
@media screen and (max-width: 768px) {
  .shopping-cart-container {
    margin: auto;
  }

  .shopping-cart-container .shopping-cart-boxes {
    flex-direction: column;
    height: auto;
  }

  .shopping-cart-container .left-side,
  .shopping-cart-container .right-side {
    width: 100%;
  }

  .shopping-cart-container .bottom-links {
    flex-direction: column;
    align-items: center;
  }

  .shopping-cart-container .left-side {
    padding-right: 0px;
  }
}
